<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Waivers request that need your akcnowledgment</h4>
    <table class="table table-hover" *ngIf=" authorizations?.length != 0; else empty_body">
        <thead>
            <tr class="header">
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="request">
                    <i class="fas fa-filter float-left"></i>WR ID
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="customer">
                    <i class="fas fa-filter float-left"></i>Customer
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="originator">
                    <i class="fas fa-filter float-left"></i>Originator
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="creationDate">
                    <i class="fas fa-filter float-left"></i>Creation date
                </th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auth of authorizations">
                <td>
                    {{ auth.request }}
                </td>
                <td>
                    {{ auth.customer }}
                </td>
                <td>
                    {{ auth.originator }}
                </td>
                <td>
                    {{ auth.creationDate|date:'medium':'UTC' }}
                </td>
                <td>
                    <div *ngIf="auth.status != 'on hold'; else pending_act">
                        <span class="bold">
                            {{ auth.status | titlecase }} : 
                        </span>
                        Ready to acknowledge
                    </div>
                    <ng-template #pending_act>
                        <!-- <div *ngIf="auth.pendingActivities != '0'">
                            Waiting actions confirmation <br>
                            {{ auth.totalActivities - auth.pendingActivities }} / {{ auth.totalActivities }} confirmed
                        </div> -->
                        <div *ngIf="auth.status == 'on hold'" class="urgent">
                            Waiver rejected, waiting for edit
                        </div>
                    </ng-template>
                </td>
                <td>
                    <button *ngIf="auth.status != 'on hold'" class="btn btn-success" (click)="goToWaiver(auth.request)">
                        <i class="fas fa-check"></i>
                        Review
                    </button>
                    <button *ngIf="auth.status == 'on hold'"
                    class="btn btn-primary" (click)="goToWaiver(auth.request)">
                        Review
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..."
            description="Congrats! You don't have any pending waiver request">
        </error-message>
    </ng-template>
</div>