<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Waivers request that need your approval</h4>
    <table class="table table-hover" *ngIf=" authorizations?.length != 0; else empty_body">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Originator</th>
                <th scope="col">Creation date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auth of authorizations">
                <td>
                    {{ auth.request }}
                </td>
                <td>
                    {{ auth.customer }}
                </td>
                <td>
                    {{ auth.originator }}
                </td>
                <td>
                    {{ datePipe.transform(auth.creationDate, 'yyyy-MM-dd') }}
                </td>
                <td>
                    <button class="btn btn-success" (click)="goToWaiver(auth.request)">
                        Review
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..." 
        description="Congrats! You don't have any pending waiver request"> 
        </error-message>
    </ng-template>
</div>
