<div>
    <button class="btn btn-md btn-secondary" (click)="open(confirmModal)">
        {{ trigger }}
    </button>
</div>

<ng-template #confirmModal let-modal>
    
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> {{ title }} </h4>
        <button type="button" class="close" style="outline:none;" aria-label="Close" (click)="modal.dismiss('CANCEL')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body m-content mx-3">

        {{ message }}
        <form [formGroup]="filterForm">

            <div class="row d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="form-group row pt-2">
                        <label for="" class="col-md-4 col-form-label has-error has-feedback">Number</label>
                        <div class="col-md-8">
                            <input formControlName="number" type="text" class="form-control"
                                [class]="getClass('number')" placeholder="WR number">
                        </div>
                    </div>

                    <div class="form-group row pt-2">
                        <label for="" class="col-md-4 col-form-label has-error has-feedback">Originator</label>
                        <div class="col-md-8">
                            <input formControlName="originator" type="text" class="form-control"
                                [class]="getClass('originator')" placeholder="Username of originator">
                        </div>
                    </div>

                    <div class="form-group row pt-2 has-error has-feedback">
                        <label for="" class="col-md-4 col-form-label">Area</label>
                        <div class="col-md-8">
                            <input formControlName="area" type="text" class="form-control" [class]="getClass('area')"
                                placeholder="Area">
                        </div>
                    </div>

                    <div class="form-group row pt-2">
                        <label for="" class="col-md-4 col-form-label">Customer</label>
                        <div class="col-md-8">
                            <input type="text" formControlName="customer" class="form-control" placeholder="Customer"
                                [class]="getClass('customer')">
                        </div>
                    </div>

                    <div class="form-group row pt-2">
                        <label for="" class="col-md-4 col-form-label">Type of deviation</label>
                        <div class="col-md-7">
                            <select [class]="getClass('typeNumber')" formControlName="typeNumber"
                                class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                <option value="1">Type 1</option>
                                <option value="2">Type 2</option>
                                <option value="3">Type 3</option>
                                <option value="4">Type 4</option>
                            </select>
                        </div>
                        <div class="col-md-1 d-flex justify-content-center deviation-info">
                            <button onclick="" class="btn btn-disabled fa fa-info">
                            </button>
                            <span class="deviation-info-text">
                                <font style="font-weight: bold;">Type 1:</font> Forward documentation only <br>
                                <font style="font-weight: bold;">Type 2:</font> Any product feature <br>
                                <font style="font-weight: bold;">Type 3:</font>
                                Any product deviation that affects components and / or costs, Scrap and inventory
                                <br>
                                <font style="font-weight: bold;">Type 4:</font> Any product recurrent deviation

                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-success px-3" (click)="modal.close('YES')">Apply</button>
        <button type="button" class="btn btn-primary px-3" (click)="modal.close('NO')">Reset</button>
        <button type="button" class="btn btn-secondary px-3" (click)="modal.close('')">Cancel</button>
    </div>
</ng-template>