<div class="table-responsive container text-center pt-2">
    <alert></alert>

    <h4 class="text-left align-top align-text-top">
        Individual performance
    </h4>

    <span>
        Select an user in order to see their performance
    </span>

    <div class="row my-2">
        <label for="" class="col-md-3 col-form-label">User:</label>
        <div class="col-md-4">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0"
            (change)="onChange($event.target.value)">
                <option value="" disabled selected>Select an user</option>
                <option *ngFor="let u of users" [value]="u.username"> {{ u.name }}</option>
            </select>
        </div>
    </div>

    <hr>

    <div class="row" *ngIf="username && user">

        <div class="col-md-4">
            <profile-view [user]="user">

            </profile-view>
        </div>

        <div class="col-md-8">
            <h5>
                <i class="fas fa-chart-pie bigger-icon"></i><br>
                User's stats
            </h5>


            <div *ngIf="charts && charts.length > 0; else no_participation" class="card-columns">
                <div *ngFor="let chart of charts">

                    <chart [chart]="chart">
                    </chart>

                </div>
            </div>
            <ng-template #no_participation>
                <error-message styles="small-size" type="empty-sub" title="Nothing here..."
                [loading]="charts"
                    description="This user has no participation in the system">
                </error-message>
            </ng-template>
        </div>

    </div>
</div>