<div *ngIf="exists; else not_found" class="card my-2 pb-5">
    <div class="container text-center pt-2">
        <h4 class="text-left my-3"> {{ title }} Waiver Request # {{ id }}</h4>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <attribute name="Request No: " [value]="wr?.number || ''"></attribute>
                <attribute name="Customer: " [value]="wr?.customer || '' "></attribute>
                <attribute name="Originator: " [value]="wr?.name + ' (' + wr?.originator + ')'|| '' ">
                </attribute>
                <attribute name="Area: " [value]="wr?.area || ''"></attribute>
                <attribute name="Date of creation:" [value]="datePipe.transform(wr?.creationDate,'yyyy-MM-dd') || ''">
                </attribute>
                <attribute name="Type of deviation: " [value]="(wr?.type | titlecase )|| '' "></attribute>
                <attribute name="Status: " [value]="(wr?.status | titlecase )|| '' "></attribute>
                <attribute name="Type: " [value]="wr?.typeNumber || ''"></attribute>

                <div *ngIf="wr?.expiration?.quantity != null; else date_exp">
                    <attribute name="Applies to: "
                        [value]="(wr?.expiration?.quantity || '0') + ' ' + (wr?.expiration?.specification || '' )">
                    </attribute>
                </div>
                <ng-template #date_exp>
                    <attribute name="From: "
                        [value]="datePipe.transform(wr?.expiration?.startDate,'yyyy-MM-dd') || '' ">
                    </attribute>
                    <attribute name="To: " [value]="datePipe.transform(wr?.expiration?.endDate,'yyyy-MM-dd') || '' ">
                    </attribute>
                </ng-template>
                <div *ngIf="wr != null && wr?.type=='external'">
                    <h5 class="text-left subtitle-att ">External authorization</h5>
                    <attribute name="Tile: " [value]="wr?.externalAuthorization?.title || '' "></attribute>
                    <attribute name="Name: " [value]="wr?.externalAuthorization?.name || ''"></attribute>
                    <attribute name="Date: "
                        [value]="datePipe.transform(wr?.externalAuthorization?.dateSigned,'yyyy-MM-dd') || ''">

                    </attribute>
                    <attribute name="Comments: " [value]="wr?.externalAuthorization?.comment || ''"></attribute>
                </div>

                <h5 class="text-left subtitle-att">Pieces</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Customer P/N</th>
                                <th scrope="col">Interplex P/N</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let piece of wr?.parts">
                                <td> {{ piece.customerPN || '' }} </td>
                                <td> {{ piece.interplexPN || '' }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h5 class="text-left subtitle-att ">Risks</h5>
                <attribute name="Original risk:" [value]="( wr?.originalRisk | titlecase ) || ''"></attribute>
                <attribute name="Risk analysis: " [value]="wr?.riskAnalysis || ''"></attribute>
                <attribute name="AMEF RPN before: " [value]="wr?.rpnBefore || '0'"></attribute>
                <hr class="separator">
                <attribute name="Current risk: " [value]="( wr?.currentRisk | titlecase ) || '' "></attribute>
                <hr class="separator">
                <attribute name="Risk with actions: " [value]="( wr?.riskWithActions | titlecase) || ''"></attribute>
                <attribute name="Corrective action required:" [value]="wr?.requiredCorrectiveAction || ''"></attribute>
                <attribute name="AMEF RPN after: " [value]="wr?.rpnAfter || '0' "></attribute>
            </div>

            <div class="col-md-7">

                <h5 class="text-left subtitle-att">Required deviations</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Current</th>
                                <th scope="col">Required</th>
                                <th scope="col">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let deviation of wr?.waivers">
                                <td> {{ deviation.currentSpecification }} </td>
                                <td> {{ deviation.requiredSpecification }} </td>
                                <td> {{ deviation.reason }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="text-left subtitle-att">Action plan</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Responsable</th>
                                <th scope="col">Action</th>
                                <th scope="col">Commitment date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let action of wr?.actions">
                                <td> {{ action.name }} </td>
                                <td> {{ action.description }} </td>
                                <td> {{ datePipe.transform(action.date,'yyyy-MM-dd') || '' }} </td>
                                <td> {{ action.signed | titlecase }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="text-left subtitle-att">Required authorizations</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Name</th>
                                <th scope="col">Signed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let auth of wr?.authorizations">
                                <td> {{ auth.title | titlecase }} </td>
                                <td> {{ auth.name }}</td>
                                <td> {{ auth.signed | titlecase }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<ng-template #not_found>
    <error-message title="ERROR" description="We couldn't find the requested waiver request">
    </error-message>
</ng-template>