.subtitle-att{
    size: 20px;
    margin-top: 4px;
}

.separator{
    margin-top: 1px;
    margin-bottom: 1px;
}

.bold{
    font-weight: bold;
}

.att-title{
    font-weight: bold;
    margin-right: 5px;
    color: rgb(78, 78, 78);
}

.att-content{
    color: rgb(41, 41, 41);
}

.attribute{
    size: 18px;
}

.risk{
    font-weight: 600;
}