<div class="table-responsive container text-center pt-2">
    <alert></alert>

    <h4 class="text-left my-3"> {{ username }}'s profile</h4>
    <hr>
    <div *ngIf="user?.username != null; else not_found">

        <div class="row d-flex justify-content-center">

            <div class="col-md-4">
                <profile-view [user]="user">

                </profile-view>
            </div>

            <div class="col-md-8">
                <i class="fas fa-chart-pie bigger-icon"></i>
                <h4 class="title">User stats</h4>

                <div *ngIf="charts.length > 0; else no_participation" class="card-columns">
                    <div *ngFor="let chart of charts">

                        <chart [chart]="chart">
                        </chart>

                    </div>
                </div>
                <ng-template #no_participation>
                    <error-message styles="small-size" type="empty-sub" title="Nothing here..."
                        description="This user has no participation in the system">
                    </error-message>
                </ng-template>

            </div>
        </div>
    </div>
    <ng-template #not_found>
        <error-message title="ERROR" description="We couldn't find the requested user profile">
        </error-message>
    </ng-template>

</div>