<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Profile</h4>

    <div class="row d-flex justify-content-center">

        <div class="col-md-5">
            <i class="fas fa-user-circle bigger-icon"></i>
            <h5>My profile</h5>
            <!-- <attribute name="Display name: " [value]="user.name"></attribute>
            <attribute name="Email: " [value]="user.email"></attribute>
            <attribute name="Position: " [value]="user.position | titlecase"></attribute> -->
        </div>

        <div class="col-md-7">

        </div>
    </div>

</div>
