<div class="table-responsive text-center">
    <table class="table table-hover table-bordered table-sm" *ngIf="data != null && data.length > 0; else empty_content">
        <thead>
            <tr class="header">
                <th *ngFor="let key of getKeys()" class="align-middle"
                scope="col" [appSort]="data" data-order="desc">
                    {{ key | dbcase }}
                </th>
            </tr>
        </thead>
        <tbody class="click">
            <tr *ngFor="let d of data; let i = index" (click)="goTo(i)">
                <td *ngFor="let key of getKeys()">
                    {{ isDate(d[key]) ?  
                        (d[key]|date:'mediumDate') : 
                        d[key] !== d[key].toString().toLowerCase() ? 
                        d[key] 
                        : d[key].toString() | titlecase }}
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_content>
        Couldn't load data
    </ng-template>
</div>