.invalid{
    color: rgb(211, 43, 43);
    font-size: 15px;
}

.no-ok{
    background-color: rgb(134, 134, 134);
    cursor: default;
    border-color: rgb(133, 133, 133);
}

.bigger-icon{
    font-size: 24px;
}

.bigger-font{
    font-size: 20px;
}