<div class="container text-center pt-2">
    <h4 class="text-left my-3">Action plan</h4>
    <form [formGroup]="actionPlan">
        <div class="row justify-content-center">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Responsable</th>
                            <th scope="col">Action to do</th>
                            <th scope="col">Commitment date</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="actions">
                        <tr *ngFor="let action of actions.controls;let i = index" [formGroupName]="i">
                            <td>
                                <responsable-input #responsable 
                                (update)="setValues($event)" 
                                [index]="i" 
                                [users] = "users"
                                [defaultUser]="getUserIfAny(i)">
                                </responsable-input>
                            </td>
                            <td>
                                <textarea class="form-control action" formControlName="action"
                                    placeholder="Describe the action" [class]="getStyle(action,'action')"></textarea>
                            </td>
                            <td>
                                <input type="date" [min]="today" class="form-control date" formControlName="date"
                                    [class]="getStyle(action,'date')">
                            </td>
                            <td>
                                <button class="btn btn-primary fa fa-plus" *ngIf="i == 0" type="button"
                                    (click)="addAction()"></button>
                                <button class="btn btn-danger fa fa-trash" *ngIf="i != 0" type="button"
                                    (click)="deleteAction(i)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button [ngClass]="{'no-ok' : !actionPlan.valid}" type="button" (click)="next()"
            class="btn px-5 mb-5 btn-success float-right">Next</button>

    </form>
</div>