<div class="card my-2 pb-5">
    <div class="container text-center pt-2">
        <h4 class="text-left my-3">Confirm waiver request</h4>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <attribute name="Request No: " [value]="wr.origin?.number"></attribute>
                <attribute name="Customer: " [value]="wr.details?.customer || '' "></attribute>
                <attribute name="Originator: " [value]="wr.origin?.originator || '' "></attribute>
                <attribute name="Area: " [value]="wr.details?.area || ''"></attribute>
                <attribute name="Date of creation:" [value]="datePipe.transform(wr.origin.date,'yyyy-MM-dd') || ''"></attribute>
                <attribute name="Type of deviation: " [value]="(wr.details?.type | titlecase )|| '' "></attribute>
                <!-- <attribute name="Status: " value="Creating..."></attribute> -->
                <attribute name="Type: " [value]="wr.details?.typeNo || ''"></attribute>

                <div *ngIf="wr != null && wr.details?.type=='external'">
                    <h5 class="text-left subtitle-att ">External authorization</h5>
                    <attribute name="Tile:" [value]="wr.details?.externalAuthorization?.title || '' "></attribute>
                    <attribute name="Name: " [value]="wr.details?.externalAuthorization?.name || ''"></attribute>
                    <attribute name="Date: " [value]="wr.details?.externalAuthorization?.date || ''"></attribute>
                    <attribute name="Comments: " [value]="wr.details?.externalAuthorization?.comments || ''"></attribute>
                </div>

                <h5 class="text-left subtitle-att">Pieces</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Customer P/N</th>
                                <th scrope="col">Interplex P/N</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let piece of wr.pieces">
                                <td> {{ piece.customer }} </td>
                                <td> {{ piece.internal }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <h5 class="text-left subtitle-att ">Risks</h5>
                <attribute name="Original risk:" [value]="( wr.risk?.originalRisk | titlecase ) || ''"></attribute>
                <attribute name="AMEF RPN before: " [value]="wr.risk?.rpnBefore || ''"></attribute>
                <attribute name="Risk analysis: " [value]="wr.risk?.riskAnalysis || ''"></attribute>
                <hr class="separator">
                <attribute name="Current risk: " [value]="( wr.risk?.currentRisk | titlecase ) || '' "></attribute>
                <hr class="separator">
                <attribute name="Risk with actions: " [value]="( wr.risk?.riskWithActions | titlecase) || ''"></attribute>
                <attribute name="Corrective action required:" [value]="wr.risk?.requiredAction || ''"></attribute>
                <attribute name="AMEF RPN after: " [value]="wr.risk?.rpnAfter || '' "></attribute>
            </div>

            <div class="col-md-7">

                <h5 class="text-left subtitle-att">Required deviations</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Current</th>
                                <th scope="col">Required</th>
                                <th scope="col">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let deviation of wr.deviations">
                                <td> {{ deviation.current }} </td>
                                <td> {{ deviation.required }} </td>
                                <td> {{ deviation.reason }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="text-left subtitle-att">Action plan</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Responsable</th>
                                <th scope="col">Action</th>
                                <th scope="col">Commitment date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let action of wr.actions">
                                <td> {{ action.responsable }} </td>
                                <td> {{ action.action }} </td>
                                <td>  {{ action.date }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="text-left subtitle-att">Required authorizations</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Name</th>
                                <th scope="col">Signed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let number of numbers">
                                <td> Lorem ipsum </td>
                                <td> Dolor sit amet </td>
                                <td> Consectetur adipiscing elit </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>