<div class="card my-2">
    <div class="container text-center pt-2">
        <h4 class="text-left my-3">Confirm waiver request</h4>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <attribute name="Request No: " value="placeholder"></attribute>
                <attribute name="Customer: " value="placeholder"></attribute>
                <attribute name="Originator: " value="placeholder"></attribute>
                <attribute name="Area: " value="placeholder"></attribute>
                <attribute name="Date of creation:" value="placeholder"></attribute>
                <attribute name="Type of deviation: " value="placeholder"></attribute>
                <attribute name="Status: " value="placeholder"></attribute>
                <attribute name="Type: " value="placeholder"></attribute>
                <h5 class="text-left subtitle-att ">External authorization</h5>
                <attribute name="Tile:" value="placeholder"></attribute>
                <attribute name="Name: " value="placeholder"></attribute>
                <attribute name="Date: " value="placeholder"></attribute>
                <attribute name="Comments: " value="placeholder"></attribute>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>