<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tr>
                <td>
                    <h4 class="text-left align-top align-text-top">
                        Waivers log
                    </h4>
                </td>
                <td>
                    <div class="text-right">
                        <filter *ngIf="log != null" (apply)="filter($event)"> </filter>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <table class="table table-md table-hover" *ngIf="log?.length != 0;else empty_body">
        <thead>
            <tr class="header">
                <th scope="col" [appSort]="log" data-order="desc" data-name="number">
                    <i class="fas fa-filter float-left"></i>WR ID
                </th>
                <th scope="col" [appSort]="log" data-order="desc" data-name="customer">
                    Customer
                    <i class="fas fa-filter float-left"></i>
                </th>
                <th scope="col" [appSort]="log" data-order="desc" data-name="creationDate">
                    Creation date
                    <i class="fas fa-filter float-left"></i>
                </th>
                <th scope="col" [appSort]="log" data-order="asc" data-name="name">
                    Originator
                    <i class="fas fa-filter float-left"></i>
                </th>
                <th scope="col" [appSort]="log" data-order="asc" data-name="status">
                    Status
                    <i class="fas fa-filter float-left"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let waiver of log; let i = index" class="pointer" (click)="goToWaiver(log[i].number)">
                <td>
                    {{ waiver.number }}
                </td>
                <td>
                    {{ waiver.customer }}
                </td>
                <td>
                    {{ waiver.creationDate | date:'medium':'UTC' }}
                </td>
                <td>
                    {{ waiver.name }}
                </td>
                <td>
                    {{ waiver.status | titlecase }}
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..."
            description="There is no waiver requests with the specified filters">
        </error-message>
    </ng-template>
</div>