<div class="table-responsive container text-center pt-1">
    <alert></alert>
    <div class="table-responsive">
        <table class="table table-borderless">
            <tr>
                <td>
                    <h4 class="text-left my-3">Status of my waiver requests</h4>
                </td>
                <td>
                    <div class="text-right">
                        <filter [blocked]="['originator']" *ngIf="waivers != null" (apply)="filter($event)"> </filter>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <table class="table table-hover" *ngIf="waivers?.length != 0;else empty_body">
        <thead>
            <tr class="header">
                <th scope="col" [appSort]="waivers" data-order="desc" data-name="number">
                    <i class="fas fa-filter float-left"></i>WR ID
                </th>
                <th scope="col" [appSort]="waivers" data-order="desc" data-name="customer">
                    <i class="fas fa-filter float-left"></i>Customer
                </th>
                <th scope="col" [appSort]="waivers" data-order="desc" data-name="creationDate">
                    <i class="fas fa-filter float-left"></i>Creation date
                </th>
                <th scope="col" [appSort]="waivers" data-order="desc" data-name="status">
                    <i class="fas fa-filter float-left"></i>Status
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let waiver of waivers">
                <td>
                    {{ waiver.number }}
                </td>
                <td>
                    {{ waiver.customer }}
                </td>
                <td>
                    {{ waiver.creationDate | date:'medium':'UTC' }}
                </td>
                <td>
                    {{ waiver.status | titlecase }}
                </td>
                <td>
                    <button class="btn btn-primary m-1" (click)="goToWaiver(waiver.number)" title="Details">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <button class="btn btn-info m-1" (click)="upload(waiver.number)" title="Upload reference">
                        <i class="fas fa-file-upload"></i>
                    </button>
                    <!-- <button *ngIf="(waiver.status == 'open' || waiver.status == 'closed') && waiver.typeNumber == 4"
                        class="btn btn-warning m-1" (click)="reopen(waiver.number)" title="Reopen">
                        <i class="fas fa-sync-alt"></i>
                    </button> -->
                    <button *ngIf="waiver.status == 'open' && waiver.pendingActions == 0" class="btn btn-success m-1"
                        (click)="goToClose(waiver.number)" title="Close">
                        <i class="fas fa-check-circle"></i>
                    </button>
                    <button *ngIf="waiver.status == 'on hold'" class="btn btn-info m-1"
                        (click)="goToEdit(waiver.number)" title="Edit">
                        <i class="fas fa-pencil-alt"></i> 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty"
        [loading]="waivers" title="Nothing here..." description="You don't have any waiver request yet">
        </error-message>
    </ng-template>
</div>