<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Status of my waiver requests</h4>
    <table class="table table-hover" *ngIf="waivers?.length != 0;else empty_body">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Creation date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let waiver of waivers">
                <td>
                    {{ waiver.number }}
                </td>
                <td>
                    {{ waiver.customer }}
                </td>
                <td>
                    {{ waiver.creationDate | date:'medium':'UTC' }}
                </td>
                <td>
                    {{ waiver.status | titlecase }}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="goToWaiver(waiver.number)">
                        Details
                    </button>
                    <button *ngIf="waiver.status == 'open'" class="btn btn-success offset" (click)="console.log('xd')">
                        Complete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..." 
        description="You don't have any waiver request yet">
        </error-message>
    </ng-template>
</div>
