// .offset{
//     margin-left: 10px;
//     // margin-top: 5px;
// }

.header:hover{
    cursor: pointer;
}

.header i{
    margin-right: 2px;
    color: gray;
    margin-top: 5px;
}

.header i:hover{
    color: black;
}