<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Recently acknowledged waiver requests</h4>
    <table class="table table-hover" *ngIf=" authorizations?.length != 0; else empty_body">
        <thead>
            <tr class="header">
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="number">
                    <i class="fas fa-filter float-left"></i>WR ID
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="customer">
                    <i class="fas fa-filter float-left"></i>Customer
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="creationDate">
                    <i class="fas fa-filter float-left"></i>Creation date
                </th>
                <th scope="col" [appSort]="authorizations" data-order="desc" data-name="status">
                    <i class="fas fa-filter float-left"></i>Status
                </th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auth of authorizations">
                <td>
                    {{ auth.number }}
                </td>
                <td>
                    {{ auth.customer }}
                </td>
                <td>
                    {{ auth.creationDate| date:'medium':'UTC' }}
                </td>
                <td>
                    {{ auth.status | titlecase }}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="goToWaiver(auth.number)">
                        Details
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..." 
        description = "No recent approved waivers right now">
        </error-message>
    </ng-template>
    
</div>
