<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left align-top align-text-top">
        Overall performance
    </h4>

    <hr>

    <div class="row">

        <div class="col-md-4">
            <h5>
                <i class="fas fa-chart-line"></i><br>
                Summary
            </h5>

            <span>
                Those charts show the performance of every employye
                in the system branch-wide. You can click on the chart
                to see more details
            </span>
        </div>

        <div class="col-md-8">
            <h5>
                <i class="fas fa-chart-pie bigger-icon"></i><br>
                Branch's stats
            </h5>


            <div *ngIf="charts && charts.length > 0; else no_participation" class="card-columns">
                <div *ngFor="let chart of charts">

                    <chart [chart]="chart">
                    </chart>

                </div>
            </div>
            <ng-template #no_participation>
                <error-message styles="small-size" type="empty-sub" title="Nothing here..."
                    description="This user has no participation in the system">
                </error-message>
            </ng-template>
        </div>

    </div>
</div>