<div *ngIf="body.length != 0">
    <div class="alert alert-warning my-3 alert-waivers text-center" role="alert" (click)="open(confirmModal)">
        Note:
        There are {{ body.length }} waiver request(s) with similar data provided
        (parts, type, area).
        You check them by cliking here before sending this waiver request and decide
        you want to continue
      </div>
</div>
<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> Waiver requests with similar data </h4>
        <button type="button" class="close" style="outline:none;" aria-label="Close" (click)="modal.dismiss('CANCEL')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body m-content">
        <div>
            <h6 class="title-warning">
                Consider these waiver requests before sending your waiver requests.
                You can check the details of the waivers by cliking in the button below.
            </h6>
                <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">WR ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Originator</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repeat of body">
                        <td>
                            {{ repeat.number }}
                        </td>
                        <td>
                            {{ repeat.customer }}
                        </td>
                        <td>
                            {{ (repeat.creationDate||"")| date:'medium':'UTC' }}
                        </td>
                        <td>
                            {{ repeat.status | titlecase }}
                        </td>
                        <td>
                            {{ repeat.originator }}
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="goToWaiver(repeat.number)">
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary px-3" (click)="modal.close('')">Ok</button>
    </div>
</ng-template>