<div>
    <button class="btn btn-md btn-danger" [ngClass]="{'btn-disabled':disabled}" [class]="myClass"
        (click)="open(confirmModal)">
        {{ trigger }}
    </button>
</div>
<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> {{ title }} </h4>
        <button type="button" class="close" style="outline:none;" aria-label="Close" (click)="modal.dismiss('CANCEL')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body m-content">
        {{ content }}
        <form [formGroup]="form">

            <div class="row d-flex justify-content-center">

                <div class="col-md-12">
                    <div class="form-group row pt-2 has-error has-feedback">
                        <label for="" class="col-md-4 col-form-label">Comments</label>
                        <div class="col-md-12">
                            <textarea [class] = "getClass('comment')"  class="form-control area" 
                            formControlName="comment" placeholder="Please describe the issue" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" [ngClass]="{'disabled':!form.valid}" 
        class="btn px-3 btn-primary" (click)="submit()">Send rejection</button>
        <button type="button" class="btn btn-secondary px-3" (click)="modal.close('NO')">Cancel</button>
    </div>
</ng-template>