<div class="container text-center pt-2">
    <h4 class="text-left my-3">Deviation details</h4>
    <form>
        <div class="row justify-content-center">
            <div class="col-md-12">

                <div class="form-group row pt-2">
                    <div class="col-md-6">
                        <div class="form-group row pt-2">
                            <label for="" class="col-md-4 col-form-label">Risk analysis</label>
                            <div class="col-md-8">
                                <textarea class="form-control area" rows="3"
                                    placeholder="Please describe the risk of the required deviation(s)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">AMEF RPN before</label>
                            <div class="col-sm-6 ">
                                <input type="number" class="form-control" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">AMEF RPN after</label>
                            <div class="col-sm-6 ">
                                <input type="number" class="form-control" value="0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row pt-2">
                    <form [formGroup] = "formDeviations" >
                        <h5 class="text-left ml-2"> Required deviation(s) </h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Current specification</th>
                                    <th scope="col">Required deviation</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody  formArrayName="deviations">
                                <tr *ngFor="let deviation of deviations.controls; let i = index" [formGroupName]="i">
                                    <td>
                                        <input class="form-control" type="text" formControlName="current"
                                            placeholder="Customer P/N">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" formControlName="required"
                                            placeholder="Interplex P/N">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" formControlName="reason"
                                            placeholder="Interplex P/N">
                                    </td>
                                    <td>
                                        <button class="btn btn-primary fa fa-plus" *ngIf="i == 0" type="button"
                                            (click)="addDeviation()"></button>
                                        <button class="btn btn-danger fa fa-trash" *ngIf="i != 0" type="button"
                                            (click)="deleteDeviation(i)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </form>
</div>