<div class="container text-center pt-2 bot">
    <h4 class="text-left my-3">Deviation details</h4>
    <form>
        <div class="row justify-content-center">
            <div class="col-md-12">

                <h5 class="text-left ml-2"> Required deviation(s) </h5>

                <span class="explain">
                    Please fullfil this form with the details of the required waiver.
                    Please be as specific as possible, check every column to see
                    the minimum required information you have to provide.
                </span>



                <div class="form-group row pt-2 table-responsive mid">
                    <form [formGroup]="formDeviations">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="top">
                                        Original specification
                                        <info-baloon [hideOnTop]="true">
                                            <div sample class="details">
                                                Please describe the exact specification of the
                                                original process, e.g., measures, times, materials, etc.
                                            </div>
                                        </info-baloon>
                                        <button class="btn btn-disabled fa fa-info" title="Click to see details"
                                            (click)="scroll()">
                                        </button>
                                    </th>
                                    <th scope="col">
                                        Required change
                                        <info-baloon [hideOnTop]="true">
                                            <div sample class="details">
                                                Please describe exactly what are you requesting to change in
                                                the previous process including the new specification measures,
                                                times, materials, etc.
                                            </div>
                                        </info-baloon>
                                        <button class="btn btn-disabled fa fa-info" title="Click to see details"
                                            (click)="scroll()">
                                        </button>
                                    </th>
                                    <th scope="col">
                                        Reason
                                        <info-baloon [hideOnTop]="true">
                                            <div sample class="details">
                                                Please justify the required deviation
                                            </div>
                                        </info-baloon>
                                        <button class="btn btn-disabled fa fa-info" title="Click to see details"
                                            (click)="scroll()">
                                        </button>
                                    </th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="deviations">
                                <tr *ngFor="let deviation of deviations.controls;let i = index" [formGroupName]="i">
                                    <td>
                                        <textarea class="form-control mini-area" formControlName="current"
                                            [class]="check(deviation,'current')"
                                            placeholder="Original specified process to follow"></textarea>
                                    </td>
                                    <td>
                                        <textarea class="form-control mini-area" formControlName="required"
                                            [class]="check(deviation,'required')"
                                            placeholder="Required change / deviation"></textarea>
                                    </td>
                                    <td>
                                        <textarea class="form-control mini-area" formControlName="reason"
                                            [class]="check(deviation,'reason')" placeholder="Reason"></textarea>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary fa fa-plus" *ngIf="i == 0" type="button"
                                            (click)="addDeviation()"></button>
                                        <button class="btn btn-danger fa fa-trash" *ngIf="i != 0" type="button"
                                            (click)="deleteDeviation(i)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <hr>

                <div class="form-group row pt-2 mb-5">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button [ngClass]="{'no-ok' : !formDeviations.valid}" type="button" (click)="next()"
                            class="btn px-5 btn-success float-right">Next</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>