<div class="table-responsive container text-center pt-2">
    <h4 class="text-left my-3">Activities to do</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Task description</th>
                <th scope="col">Commitment date</th>
                <th scope="col">Waiver details</th>
                <th scope="col">Mark as done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let number of numbers; let i = index">
                <td>
                    WR-{{number}}
                </td>
                <td>
                    Customer
                </td>
                <td>
                    Do this and that and that too
                </td>
                <td>
                    23/02/2020
                </td>
                <td>
                    <button class="btn btn-primary" (click)="goToWaiver(i)">
                        Details
                    </button>
                </td>
                <td>
                    <confirm-modal class="margin-zero" title="Confirm done activity" content="Mark activiy as done?"
                    trigger = "Done" myClass="" (accept)="confirm(i)">
                    </confirm-modal>
                </td>
            </tr>
        </tbody>
    </table>
</div>
