.margin-zero{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.upcoming{
    color: rgb(254,164,0);
}

.upcoming, .late{
    font-weight: bolder;
    margin-right: 10px;
}

.upcoming:hover, .late:hover{
    cursor: pointer;
}

.late{
    color: red;
}