<div class="table-responsive container text-center pt-2">
    <alert></alert>
    <h4 class="text-left my-3">Activities to do</h4>
    <table class="table table-hover" *ngIf="activities?.length != 0;else empty_body">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">WR status</th>
                <th scope="col">Customer</th>
                <th scope="col">Task description</th>
                <th scope="col">Commitment date</th>
                <th scope="col">Waiver details</th>
                <th scope="col">Mark as done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities; let i = index">
                <td>
                    <i title="Upcoming activity" class="fas fa-exclamation-triangle upcoming" *ngIf=" dateDiff(activity.date)>=1 && dateDiff(activity.date) <= 3 "></i>
                    <i title="This activity is late" class="fas fa-exclamation-circle late" *ngIf="dateDiff(activity.date)<=0"></i>
                    {{ activity.request }}
                </td>
                <td>
                    {{ activity.status | titlecase }}
                </td>
                <td>
                    {{ activity.customer }}
                </td>
                <td>
                    {{ activity.description }}
                </td>
                <td>
                    {{ activity.date | date:'mediumDate' }}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="goToWaiver(activity.request)">
                        Details
                    </button>
                </td>
                <td>
                    <confirm-modal [disabled]="activity.status == 'pending'" class="margin-zero"
                    [isDisabled] = "activity.status != 'open'" reason = "The waiver request is not currently open"
                    [title]="(activity.status != 'open')? 'You can not do this activity until is open' :'Confirm activity done'" content="Mark activiy as done?"
                    trigger = "Done" myClass="" (accept)="confirm(activity.id)">
                    </confirm-modal>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_body>
        <error-message type="empty" title="Nothing here..."
        [loading]="activities" 
        description="Congrats, you just completed your tasks">
        </error-message>
    </ng-template>
    
</div>
