<div ngbDropdown class="">
    <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
        <span class="signed-user px-2">
            <i class="fas fa-tasks"></i> Actions on this waiver
        </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let action of actions" ngbDropdownItem (click)="goTo(action.link)">
            <!-- <i class="fas fa-key pr-1"></i>  -->
            {{ action.action }}
        </button>
    </div>
</div>