
.upcoming{
    color: rgb(254,164,0);
}

.upcoming, .late{
    font-weight: bolder;
    margin-right: 10px;
}

.upcoming:hover, .late:hover{
    cursor: pointer;
}

.late{
    color: red;
}

.header:hover{
    cursor: pointer;
}

.header i{
    margin-right: 2px;
    color: gray;
    margin-top: 5px;
}

.header i:hover{
    color: black;
}