<div class="table-responsive container text-center pt-2">
    <h4 class="text-left my-3">Assigned activities</h4>
    <table *ngIf=" activities.length != 0; else empty_mesage" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Task description</th>
                <th scope="col">Commitment date</th>
                <th scope="col">Sign</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let act of activities">
                <td>
                    {{ act.request }}
                </td>
                <td>
                    {{ act.customer }}
                </td>
                <td>
                    {{ act.description }}
                </td>
                <td>
                    {{ datePipe.transform(act.date, 'yyyy-MM-dddd') }}
                </td>
                <td>
                    <button class="btn btn-success" (click)="sign(act.request)">
                        See WR & sign
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty_mesage>
        <error-message type="empty" title="Nothing here..." 
        description="Congrats, you don't have any pending activity">

        </error-message>
    </ng-template>
    
</div>