<div class="table-responsive container text-center pt-2">
    <h4 class="text-left my-3">Assigned activities</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">WR ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Task description</th>
                <th scope="col">Commitment date</th>
                <th scope="col">Sign</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let number of numbers; let i = index">
                <td>
                    WR-{{number}}
                </td>
                <td>
                    Customer
                </td>
                <td>
                    Do this and that and that too
                </td>
                <td>
                    23/02/2020
                </td>
                <td>
                    <button class="btn btn-success" (click)="sign('WR'+i)">
                        See WR & sign
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>