.bigger-icon{
    font-size: 30px;
    color: rgb(88, 88, 88);
}

.disabled:hover{
    cursor: default;
}

.toggle:hover{
    cursor: pointer;
}

.no-wrap {
	white-space: nowrap;
}

.float-left{
	margin-top: 3px;
}