<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> {{ title }} </h4>
        <button type="button" class="close" style="outline:none;" aria-label="Close" (click)="modal.dismiss('CANCEL')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body m-content">
            <div class="text-left mb-2">
                {{ content }}
                <br>
                Click on the row to see the details of the respective waiver
            </div>

            <app-table [data]="data"
            (onSelect)="seeWaiver($event)"
            [key]="key"></app-table>
    </div>
    <div class="modal-footer">
        <button *ngIf="!isDisabled" type="button" class="btn btn-primary px-3" (click)="modal.close('')">Close</button>
    </div>
</ng-template>