<div id="wrapper" class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading menu-title"> IMXWRS </div>
        <div class="list-group list-group-flush">
            <a *ngFor="let link of sidebar;let i = index" class="list-group-item list-group-item-action bg-light clickable"
                (click)="goTo(link.route,i)" [class.active-link]="selectedIndex === i" >
                {{link.name}}
            </a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a (click)="shown = !shown" class="navbar-brand clickable" id="menu-toggle" data-toggle="tooltip" data-placement="bottom"
                title="Click to toggle sidebar">
                <img src="../../../assets/icon.png" class="d-inline-block align-top nav-logo"
                    alt="Click to toggle sidebar">
                <span class="nav-logo title-logo"> Waiver Requests System </span>
            </a>
            <span class="navbar-text float-right ml-auto">
                Logged as mySelf
                <a (click) = "logout()" class="logout">
                    Log out
                </a>
            </span>
        </nav>
        <div class="container-fluid">
            <router-outlet>

            </router-outlet>
        </div>
    </div>
</div>